.function-form {
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    border: var(--accent-color-light) 5px solid;
    height: fit-content;
    padding: 10px;
    display: flex;
    position: fixed;
    top:0;
    right:0;
}

.function-form-error {
    border-color: var(--error-color);
}

.function-form-warning {
    border-color: var(--warning-color);
}

.function-button {
    border-radius: var(--border-radius);
    background-color: var(--accent-color);
    color: white;
}