.settings-number-label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    white-space: nowrap;
    flex-direction: column;
}

.settings-number-input {
    width: 20px;
    padding: 4px 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: white;
    appearance: textfield;
    -moz-appearance: textfield;
}

.settings-number-input::-webkit-outer-spin-button,
.settings-number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label:has(input:disabled) {
    opacity: 0.6;
    cursor: not-allowed;
}

.select__control {
    width: 100%;
}

.tooltip-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    width: 260px;
    background-color: #333;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 8px 10px;
    position: absolute;
    z-index: 10;
    bottom: 125%; /* push above the icon */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s ease;
    font-size: 12px;
    line-height: 1.4;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    white-space: normal;
}

.tooltip-wrapper:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.info-icon {
    color: #888;
}

.connect-checkbox-label {
    display: flex;
    align-items: center;
    gap: 6px;

    cursor: pointer;
    user-select: none;
}
