:root {
  --accent-color: #7373da;
  --accent-color-light: #9292f6;
  --bg-color: white;
  --text-color: black;
  --grid-color: #d7d7d7;
  --axis-color: gray;
  --select-color: #4f4fb6;
  --border-radius: 3px;
  --control-width: 50px;
  --error-color: #ff456a;
  --warning-color: #ffa92a;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
