.overlay {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    width: 30%;
}

.overlay-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.overlay-button {
    width: 40px;
    height: 40px;
    font-size: 18px;
}

.overlay-close-button {
    margin-top: 10px;
    width: 100%;
    background-color: hwb(251 0% 47%);
    color: white;
    padding: 5px;
}

.symbol-toggle-button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
}

.function-form {
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    border: var(--accent-color-light) 5px solid;
    height: fit-content;
    width: 50%;
    min-width: fit-content;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-grow: 1;
}

.function-form-error {
    border-color: var(--error-color);
}

.function-form-warning {
    border-color: var(--warning-color);
}

.function-button {
    border-radius: var(--border-radius);
    background-color: var(--accent-color-light);
    color: white;
    border: var(--accent-color) 3px solid;
    margin: 1px;
}

.function-button-overlay {
    border-radius: var(--border-radius);
    background-color: white;
    
    border: var(--accent-color) 3px solid;
    margin: 1px;
}

.function-button-inactive {
    border-radius: var(--border-radius);
    background-color: rgba(230, 230, 230, 0.508);
    color: rgb(0, 0, 0);
    border: rgb(45, 45, 45) 1px solid;
    margin: 1px;
}

.function-button:hover {
    background-color: var(--accent-color);
}

.function-string, .settings-input {
    display: block;
    border: 3px solid var(--accent-color-light);
    margin: 5px;
    border-radius: var(--border-radius);
}

.function-string {
    width: 10em;
}

.graph-with-settings {
    display: flex;
    flex-direction: column;
    width: min-content;
}

.graph-settings-form {
    display: flex;
    border: 5px solid var(--accent-color-light);
    border-radius: var(--border-radius);
    padding: 0 10px;
    justify-content: center;
    flex-grow: 1;
}

.settings-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap-reverse;
}

.settings-input {
    width: 2em;
}

.settings-input-error {
    border-color: var(--error-color);
}

.settings-label {
    display: flex;
    margin-right: 3px;
    margin-left: 5px;
    align-items: baseline;
}