.graphs-container {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 500px) {
    .graph-box {
        min-width: 200px;
        width: calc((100vw - var(--control-width))*0.9);
    }
}

@media (min-width: 500px) {
    .graph-box {
        min-width: 400px;
        width: 40vw;
    }
}

.graph-box {
    touch-action: pinch-zoom;
    border: 5px solid var(--accent-color);
    border-radius: var(--border-radius);
    max-width: calc(min(80vw, 80vh));
    margin: 10px;
    aspect-ratio: 1/1;
    position: relative;
}

@supports not (aspect-ratio: 1 / 1) {
    .graph-box::before {
        float: left;
        padding-top: 100%;
        content: "";
    }

    .graph-box::after {
        display: block;
        content: "";
        clear: both;
    }
}

.graph-draw {
    cursor: crosshair;
}

.graph-window{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.graph-grid {
    background-image:
            linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
            linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
    z-index: -2;
}

.graph-axis {
    z-index: -1;
}

.function-form {
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    border: var(--accent-color-light) 5px solid;
    height: fit-content;
    padding: 10px;
    display: flex;
    position: fixed;
    top:0;
    right:0;
}

.function-button {
    border-radius: var(--border-radius);
    background-color: var(--accent-color);
    color: white;
}