.graphs-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;
    width: calc(100% - 2 * var(--tools-width));
    flex-shrink: 1;
    margin: 15px;
}

@media (max-width: 850px) {
    .graph-box {
        min-width: 200px;
        width: calc((100vw - var(--tools-width)) * 0.9);
    }
}

@media (min-width: 850px) {
    .graph-box {
        min-width: 400px;
        width: calc(50vw - 2 * var(--tools-width));
    }
}

.graph-box {
    touch-action: pinch-zoom;
    border: 5px solid var(--accent-color);
    border-radius: var(--border-radius);
    max-width: calc(min(80vw, 80vh));
    aspect-ratio: 1/1;
    position: relative;
}

@supports not (aspect-ratio: 1 / 1) {
    .graph-box::before {
        float: left;
        padding-top: 100%;
        content: "";
    }

    .graph-box::after {
        display: block;
        content: "";
        clear: both;
    }
}

.graph-draw {
    cursor: crosshair;
}

.graph-window {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.graph-grid {
    background-image: linear-gradient(to right, var(--grid-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);
    z-index: -2;
}

.graph-axis {
    z-index: -1;
}

.graph-labels {
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin: 0;
    box-sizing: border-box;
}

.graph-labels-x {
    flex-direction: row;
    width: 100%;
}

.graph-labels-y {
    flex-direction: column-reverse;
    height: 100%;
}

.graph-label-placeholder {
    list-style: none;
    z-index: -1;
    position: relative;
}

.graph-label {
    font-size: 0.7em;
    position: absolute;
    user-select: none;
    padding: 0;
    margin: 0;
}

.graph-label-x {
    transform: translateX(-50%);
}

.graph-label-y {
    transform: translateY(-50%);
}

.graph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graph-mouse-coords-container {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 5px;
    margin-bottom: -5px;
    color: var(--bg-color);
    background-color: var(--accent-color-light);
    border-radius: var(--border-radius);
    justify-content: center;
}

.graph-mouse-coords-label {
    margin: 0 10px;
}

.toast-container {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.toast-error {
    background-color: red;
    color: white;
    border-radius: 5px;
}

.toast-warning {
    background-color: orange;
    color: black;
    border-radius: 5px;
}
